:root {
    --decor-color: #24ba9f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    text-align: left;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.decor-text {
    color: var(--decor-color);
}


.main-header {
    background-color: #000;
    color: white; /* when background image would be disabled */
    text-transform: uppercase;
    font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
    .main-header .container--flex {
        flex-direction: column;
    }
}

.main-header a {
    color: #fff;
}

.main-header h1 {
    font-size: 1.6rem;
}

.main-header__logo a,
.main-header__nav a {
    font-weight: 700;
}

.main-header__logo a:hover,
.main-header__logo a span:hover {
    color: var(--decor-color);
}

.main-header a:hover > span {
    color: #fff;
}

.nav-list {
    list-style: none;
    font-size: 0;
}

.nav-list li {
    display: inline-block;
    font-size: initial;
    position: relative;
    margin: 0 10px;
    padding: 16px 20px;
}

.nav-list li:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
}

.nav-list li:hover .nav-list--sub {
    display: block;
}

.nav-list--sub {
    position: absolute;
    left: 50%;
    top: calc(100% + 10px); /* bottom sub-nav */
    transform: translateX(-50%);
    width: 130px;
    text-transform: none;
    background: #000;
    padding: 11px 10px;
    display: none;
}

.nav-list--sub:before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}

.nav-list--sub li {
    padding: 6px 0;
}

.nav-list--sub li a:hover {
    color: var(--decor-color);
}


.slider {
    background: linear-gradient(to bottom, #fff 40%, #c9c8d0);
    height: calc(61vh - 51px);
    font-size: 1.6rem;
    text-align: center;
}

.slider .container,
.slider__el {
    height: 100%;
}

button i .fas {
    font-weight: 400;
}

.slider__col {
    width: 48%;
}

.slider__col--small {
    width: 45%;
    padding-right: 50px;
}

.slider__col img {
    width: 90%;
}

.slider__title {
    font-size: 4.2rem;
    color: initial;
}

.slider__col h2 {
    font-weight: 400;
}

.slider p {
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 1.5;
}

.button {
    display: inline-block;
    background: var(--decor-color);
    color: #fff;
    font-size: 2.4rem;
    padding: 7px 30px;
    border-radius: 8px;
    transition: all .3s;
    text-transform: uppercase;
}

.button:hover {
    color: var(--decor-color);
    background: #dfdfdf;
}

.slider__nav {
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    z-index: 2;
    background: none;
    border: 0;
    color: var(--decor-color);
    font-size: 10rem;
}

.slider__nav--next {
    top: 11%;
    position: relative;
}

.offers .container {
    align-items: flex-start;
}

.spacing-y {
    padding: 40px 0 80px;
}

.offers img {
    width: 100%;
    display: block;
}

.offers__col {
    width: 32%;
    font-size: 1.6rem;
    max-height: 253px;
    overflow: hidden;
    position: relative;
    color: #a6a6a6;

    border: 2px solid #ccc;
    line-height: 1.3;
}

.offers__col a .box1_img,
.offers__col a .box2_img {
    background-image: url("../images/box1_img.jpg");
    width: 100%;
    height: 260px;
    margin-bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.offers__col a .box2_img {
    background-image: url("../images/box2_img.jpg");
}

.offers__details {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background: rgba(255,255,255,.2);
    padding: 15px 15px 20px;
    z-index: 2; /* text over an image */
    pointer-events: none;
}

.title--decor,
.title--decor__sections {
    position: relative;
    color: black;
}

.title--decor__sections {
    font-size: 2.2rem;
    color: #8b8b8b;
}

.title--decor:before {
    content: "";
    width: 155px;
    height: 7px;
    background-color: var(--decor-color);
    position: absolute;
    left: -1px;
    bottom: -7px;
}

.title--decor__sections:before {
    content: "";
    width: 350px;
    height: 7px;
    background-color: var(--decor-color);
    position: absolute;
    bottom: -10px;
}

.offers__spacing {
    padding: 15px;
}

.offers p {
    margin: 30px 0;
    font-weight: 700;
}


.pricing {
    background: #f0f0f0;
    color: #a6a6a6;
    font-size: 1.6rem;
}

.pricing__title,
.form__title {
    margin-bottom: 40px;
}

.pricing__col {
    width: 31%;
    font-size: 1.6rem;
    height: 530px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px 0;
    border: 2px solid #ccc;
    line-height: 1.3;
    background: #f2f2f2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing__col--plan {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.pricing__col--descrip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    align-items: center;
}


.pricing__col:before,
.pricing__col:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    margin: 0 auto; /* necessary */
    top: -13px;
    background-color: #c9c8d0;
}

.pricing__col:before {
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    top: -27px;
    background-color: #fff;
}

.pricing__col h3 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--decor-color);
    margin-top: 25px;
    margin-bottom: 18px;
}

.pricing__col--txt {
    font-size: 2.4rem;
    text-align: center;
    background-color: #e1e1e1;
    width: 100%;
    color: #8b8b8b;
}

.pricing__col--standard .pricing__col--txt:nth-child(1n) {
    background-color: #f2f2f2;
}

.pricing__col--txt li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    color: #a6a6a6;
}

.pricing__col--txt li:nth-child(2n) {
    background-color: #ebebeb;
}

.pricing__col .circle {
    width: 140px;
    height: 140px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 50%;
    margin-right: 11%;
    border: 2px solid #ccc;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__col .circle strong {
    font-size: 4.7rem;
    font-family: ralewaybold, Arial, sans-serif;
}

.pricing__col .circle strong:last-of-type {
    font-size: 1.6rem;
}

.pricing__col .circle sup {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.pricing__col .button {
    font-size: 1.6rem;
    margin: 0 auto;
}

.pricing__col--standard {
    background-color: var(--decor-color);
    border: 2px solid var(--decor-color);
}

.pricing__col--standard h3 {
    color: #f8f8f8;
}

.pricing__col--standard .circle {
    color: var(--decor-color);
}

.pricing__col--standard .button {
    background-color: #f8f8f8;
}

.pricing__col--standard:before {
    border: 2px solid var(--decor-color);
}

.pricing__col--standard:before {
    background-color: var(--decor-color);
}
.pricing__col--standard:after {
    background-color: #f8f8f8;
}

.pricing__col--standard .button {
    background-color: #fff;
    color: var(--decor-color);
}

.pricing__col--standard .button:hover {
    color: var(--decor-color);
    background: #f8f8f8;
    font-weight: 700;
}

.form {
    color: #8c8c8c;
}

.form__col {
    width: 60%;
    font-size: 2.2rem;
}

.form__col--small {
    width: 40%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
}

.form__col--small figure {
    display: flex;
    justify-content: center;
}

.form__col--small figure .red_chair_img {
    background-image: url("../images/red_chair.png");
    width: 264px;
    height: 210px;
    margin-bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.form__col--small label {
    font-size: 2rem;
    padding-left: 76px;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10%;
}

.form__col--small .button {
    font-size: 2.6rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

input,
textarea {
    width: 100%;
    font-size: 2.2rem;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--decor-color);
}

input:focus,
textarea:focus {
    background-color: var(--decor-color);
    color: white;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
input:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

/* c h e c k b o x */
.check--container {
    display: block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hiding the browser's default checkbox */
.check--container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.check--image {
    position: absolute;
    top: -3px;
    left: 0;
    height: 50px;
    width: 58px;
    background-color: #eee;
    border: 1px solid var(--decor-color);
}

/* When checked, add a background image (checkmark) */
.check--container input:checked ~ .check--image {
    height: 50px;
    width: 58px;
    background: url("../images/form_ok.jpg") no-repeat center;
    border: 1px solid var(--decor-color);
}

/* Hiding when not checked */
.check--image:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show checkmark image when checked */
.check--container input:checked ~ .check--image:after {
    display: block;
}


.footer__col {
    font-size: 1.6rem;
    color: #a6a6a6;
    width: 60%;
    padding-bottom: 40px;
}

.footer__col--small {
    font-size: 2rem;
    color: #999999;
    width: 40%;
    padding-left: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col--small span {
    font-weight: 700;
}

.footer__col--small a .flickr_img,
.footer__col--small a .vimeo_img,
.footer__col--small a .pinterest_img,
.footer__col--small a .twitter_img {
    background-image: url("../images/flickr.png");
    width: 37px;
    height: 37px;
    margin-bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer__col--small a .vimeo_img {
    background-image: url("../images/vimeo.png");
}
.footer__col--small a .pinterest_img {
    background-image: url("../images/pinterest.png");
}
.footer__col--small a .twitter_img {
    background-image: url("../images/twitter.png");
}

@media screen and (max-width: 640px) {
    .pricing .container--flex {
        flex-direction: column;
    }
    .pricing__col {
        width: 65%;
    }
    .container .container--flex {
        flex-direction: column;
        justify-content: flex-start;
    }
    .container .form__col {
        width: 90%;
    }
    .container .form__col--small {
        width: 90%;
    }

}


.slides {
    display: none;
}

.visible {
    display: inline-block;
}

/* animations */

.focus-in {
    -webkit-animation: focus-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in {
    0% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
